# Snippets for Go

priority -5

# Fmt Printf debug
snippet fft "fmt.Printf(...%T)"
fmt.Printf("${1:${VISUAL}} = %T\n", $1)
endsnippet

# Fmt Printf debug
snippet ffv "fmt.Printf(...%#v)"
fmt.Printf("${1:${VISUAL}} = %#v\n", $1)
endsnippet
